/*
body {
  background: linear-gradient(45deg, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
}

.App {
}
*/

body {
	/*border-top: 5px solid #f6008b;*/
	/*background-color: #222;*/
  background-color: #eaeaea;
  position: relative;
  color: #484848;
}
body:after {
  content: '';
  background-image: url(https://assets.gumroad.com/assets/header_bar-bd3be3db872f96368507899b9f29f6e4acdd64c84dfc132c2f7366924c900b52.png);
  background-size: contain;
  background-position: top center;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 5px;
}

h1 {
  padding-top: 20px;
    margin: 0px 10px -15px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.3);
    font-size: 60px;
    text-align: center;
}
h1 + p {
  margin: 10px 10px 13px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
h1 + p small {
      display: block;
    font-size: 10px;
    font-weight: normal;
    margin: 10px 0 20px;
}

.AppA {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  margin: 5px 5px 10px;
  font-size: 13px;
  color: rgba(0,0,0,.5);
}
.flexGrow {
  flex-grow: 1;
}

.fas {
    margin: 1px 2px;
    font-size: 14px;
}


.CardThumbnail {
	margin-right: 5px;
}

.DetailExpression {
  color: white;
}
.DetailExpression .content {
  padding: 10px;
}

.scroll {
	display: flex;
	flex-wrap: nowrap;
	padding: 10px;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll > * {
	flex-shrink: 0;
}

.BundleBox {
  /*background-color: rgba(0,0,0,.25);*/
  /*margin-bottom: 10px;*/
}
.BundleBox h5 {
  width: 100%;
  padding: 0 3px 10px;
  margin: 0;
  /*padding: 5px 10px 0;*/
  color: white;
  font-weight: normal;
}
