/*
body {
  background: linear-gradient(45deg, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
}

.App {
}
*/

body {
	border-top: 5px solid #f6008b;
	/*background-color: #222;*/
  background-color: #eaeaea;
}

h1 {
    margin: 0px 10px -18px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.3);
    font-size: 60px;
    text-align: center;
}
h1 + p {
  margin: 10px 10px 13px;
  font-size: 13px;
  text-align: center;
}

.CardThumbnail {
	margin-right: 5px;
}

.DetailExpression {
  color: white;
}
.DetailExpression .content {
  padding: 10px;
}

.scroll {
	display: flex;
	flex-wrap: nowrap;
	padding: 10px;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll > * {
	flex-shrink: 0;
}

.BundleBox {
  /*background-color: rgba(0,0,0,.25);*/
  /*margin-bottom: 10px;*/
}
.BundleBox h5 {
  width: 100%;
  padding: 0 3px 10px;
  margin: 0;
  /*padding: 5px 10px 0;*/
  color: white;
  font-weight: normal;
}
